# Basic Stats Analysis

In [13]:
import numpy as np
import pandas as pd

In [33]:
df = pd.read_csv('data/processed/basic_stats.csv', parse_dates=True)
df.head()

,id,birthday,college,current_status,current_team,experience,height_inches,high_school,high_school_location,name,...,weight_lbs,name_id,computed_age,last_name,first_name,city,state,years_experience,first_season,last_season
0,1022,1985-10-13,Missouri,Retired,NaN,2 Seasons,72.0,NaN,NaN,"Franklin, Will",...,210.0,willfranklin,33.0,Franklin,Will,St. Louis,MO,2.0,2008.0,2009.0
1,1024,1985-12-24,Indiana,Retired,NaN,4 Seasons,77.0,NaN,NaN,"Hardy, James",...,220.0,jameshardy,32.0,Hardy,James,Fort Wayne,IN,4.0,2008.0,2011.0
2,1028,1986-12-30,Oklahoma,Retired,NaN,4 Seasons,76.0,NaN,NaN,"Kelly, Malcolm",...,226.0,malcolmkelly,31.0,Kelly,Malcolm,Longview,TX,4.0,2008.0,2011.0
3,1030,1986-05-25,Michigan,Retired,NaN,7 Seasons,71.0,NaN,NaN,"Manningham, Mario",...,185.0,mariomanningham,32.0,Manningham,Mario,Warren,OH,7.0,2008.0,2014.0
4,1032,1985-05-31,Kansas State,Active,Green Bay Packers,10th season,75.0,Riley Co. HS,"Riley, KS","Nelson, Jordy",...,217.0,jordynelson,33.0,Nelson,Jordy,Manhattan,KS,10.0,NaN,NaN

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17172 entries, 0 to 17171
Data columns (total 22 columns):
id                      17172 non-null int64
birthday                16835 non-null object
college                 17133 non-null object
current_status          17172 non-null object
current_team            3096 non-null object
experience              17133 non-null object
height_inches           17026 non-null float64
high_school             2514 non-null object
high_school_location    2510 non-null object
name                    17172 non-null object
number                  1708 non-null float64
position                3096 non-null object
weight_lbs              17121 non-null float64
name_id                 17172 non-null object
computed_age            16835 non-null float64
last_name               17172 non-null object
first_name              17152 non-null object
city                    14767 non-null object
state                   14373 non-null object
years_experience        17133 non-null float64
first_season            14076 non-null float64
last_season             14076 non-null float64
dtypes: float64(7), int64(1), object(14)
memory usage: 2.9+ MB

* top 10 states
* top 10 city/state combos
* top MA cities
* most common birthday
* most common birth month
* count of players by status
* active

In [16]:
# top 10 states
df.groupby('state')['id'].count().sort_values(ascending=False).head(10)

state
CA    1595
TX    1446
FL     922
PA     851
OH     843
IL     652
GA     555
LA     552
NY     496
MI     427
Name: id, dtype: int64

In [19]:
# top 10 city/state combinations
df.groupby(['state', 'city'])['id'].count().sort_values(ascending=False).head(10)

state  city
CA     Los Angeles      304
IL     Chicago          273
TX     Houston          220
FL     Miami            176
TX     Dallas           163
MI     Detroit          159
LA     New Orleans      144
PA     Pittsburgh       134
       Philadelphia     120
OH     Cleveland        116
Name: id, dtype: int64

In [32]:
# most common birthday
df.groupby('birthday')['id'].count().sort_values(ascending=False).head(1)

birthday
1992-05-13    8
Name: id, dtype: int64

In [36]:
df.birthday.dtype

dtype('O')